<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Todos Apps</title>
	<link rel="stylesheet" href="dist/semantic.min.css">
	<script src="vue.js"></script>
	<script src="axios.min.js"></script>
	<script type="text/javascript" src="dist/jquery.min.js"></script>
	<script type="text/javascript" src="dist/semantic.min.js"></script>
</head>

<body>
	<div id="main">
		<nav class="ui menu teal inverted navbar page grid" style="margin-bottom: 0px">
			<a href="" class="brand item"><h2>{{ navbar }}</h2></a>
			<div class="right menu" v-if="login">
				<div class="item"><button class="ui green button" id="btnLogin">Sign in</button></div>
				<div class="item"><button class="ui orange button" id="btnSignup">Sign up</button></div>
				<div class="item"><a class="ui primary button" v-on:click="loginFB">SignIn FB</a></div>
			</div>
			<div class="right menu" v-else>
				<div class="item">
					<h3>Welcome, {{ username }}</h3></div>
				<div class="item"><button class="ui red button" v-on:click="signOut">Sign out</button></div>
			</div>
		</nav>
		<div class="ui hidden divider"></div>

		<div class="ui items segment padtop-6 container" v-if="listTodos">
			<div class="ui right aligned segment">
				<button class="ui green button" v-on:click="addTodo">Add Todo</button>
			</div>
			<table id="example" class="ui celled table" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Task</th>
						<th>Completed</th>
						<th>Reminder</th>
						<th>CreatedAt</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="todo in listTodos " track-by="$index" v-if="listTodos != 0 ">
						<td>{{ todo.task }}</td>
						<td>{{ todo.is_completed }}</td>
						<td>{{ todo.reminder }}</td>
						<td>{{ todo.createdAt }}</td>
						<td><a class="ui primary button" v-on:click="editTodos(todo._id)">Edit</a> | <a class="ui red button" v-on:click="deleteConfirm(todo._id)">Delete</a></td>
					</tr>
					<tr v-if="listTodos.length == 0">
						<td><h2 class="ui centered header">Task Empty :-()<h2></td>
					</tr>
				</tbody>
			</table>
		</div>
		<h1 class="ui centered header" v-else>Todos FireFox Apps </h1>
		<!-- TEST -->

		<div class="ui small modal four grid" id="modalLogin">
			<i class="close icon"></i>
			<div class="ui center aligned header">
				<h3>Sign in</h3>
			</div>
			<div class="ui content grid container">
				<div class="content">
					<div class="ui form fluid">
						<div class="field">
							<label>Username</label>
							<input class="ui left action fluid icon input" v-model="username" placeholder="Username" type="text">
						</div>
						<div class="field">
							<label>Password</label>
							<input v-model="password" placeholder="Password" type="password">
						</div>

						<button id="btnSubmitLogin" class="ui button green" v-on:click="onLogin">Sign in</button>
					</div>
				</div>
			</div>
		</div>

		<div class="ui small modal four grid" id="modalSignup">
			<i class="close icon"></i>
			<div class="ui center aligned header">
				<h3>Sign up</h3>
			</div>
			<div class="ui doubling stackable content grid container">
				<div class="content">
					<div class="ui fluid form">
						<div class=" field">
							<label>Name</label>
							<input class="ui left action fluid icon input" v-model="nameR" placeholder="Name" type="text">
						</div>
						<div class=" field">
							<label>Username</label>
							<input v-model="username" placeholder="Username" type="text">
						</div>
						<div class="field">
							<label>Password</label>
							<input v-model="password" placeholder="Password" type="password">
						</div>
						<div class=" field">
							<label>Email</label>
							<input v-model="emailR" placeholder="Email" type="email">
						</div>
						<button id="btnSubmitRegister" class="ui button blue" v-on:click="onRegister">Sign up</button>
					</div>
				</div>
			</div>
		</div>

		<div class="ui small modal four grid" id="modalAddTodo">
			<i class="close icon"></i>
			<div class="ui center aligned header">
				<h3>Add Todo</h3>
			</div>
			<div class="ui doubling stackable content grid container">
				<div class="content">
					<div class="ui fluid form">
						<div class="field">
							<label>Task</label>
							<input class="ui left action fluid icon input" v-model="task" placeholder="Name" type="text">
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input v-model="is_completed" name="is_completed" type="checkbox" value="true" checked>
								<label>Completed</label>
							</div>
						</div>
						<div class="field">
							<label>Reminder</label>
							<input v-model="reminder" type="text" value="">
						</div>

						<button class="ui button blue" v-on:click="insertTodo">Submit</button>
					</div>
				</div>
			</div>
		</div>

		<div class="ui small modal four grid" id="modalEditTodo">
			<i class="close icon"></i>
			<div class="ui center aligned header">
				<h3>Edit Todo</h3>
			</div>
			<div class="ui doubling stackable content grid container">
				<div class="content">
					<div class="ui fluid form">
						<div class="field">
							<label>Task</label>
							<input class="ui left action fluid icon input" v-model="editDataTodo.task" placeholder="Name" type="text">
						</div>

						<div class="field">
							<div class="ui checkbox">
								<input v-model="editDataTodo.is_completed" type="checkbox" :checked="editDataTodo.is_completed">
								<label>Completed</label>
							</div>
						</div>
						<div class="field">
							<label>Reminder</label>
							<input v-model="editDataTodo.reminder" type="text" value="">
						</div>
						<button class="ui button blue" v-on:click="updateTodo">Submit</button>
					</div>
				</div>
			</div>
		</div>

		<div class="ui basic modal" id="deleteModalTodo">
	    <div class="ui icon header">
	      <i class="trash outline icon"></i> Remove Todo
	    </div>
	    <div class="ui centered header content">
	      <p>Are you sure delete this todo?</p>
	      <input type="hidden" v-model="deleteDataTodo.id">
	    </div>
	    <div class="actions">
	      <div class="ui red basic cancel inverted button">
	        <i class="remove icon"></i> No
	      </div>
	      <div class="ui green ok inverted button" v-on:click="deleteTodo">
	        <i class="checkmark icon"></i> Yes
	      </div>
	    </div>
	  </div>
	</div>
	<script type="text/javascript" src="dist/jquery.min.js"></script>
	<script type="text/javascript" src="dist/semantic.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#btnSubmitTodo').click(function() {
				$('#modalAddTodo').modal('hide')
			})
		});
	</script>
	<script>
		$(document).ready(function() {
			$('.ui.dropdown').dropdown();
			$('#btnLogin').click(function() {
				$('#modalLogin').modal('show')
			})
			$('#btnSignup').click(function() {
				$('#modalSignup').modal('show')
			})
			$('#btnSubmitLogin').click(function() {
				$('#modalLogin').modal('hide')
			})
			$('#btnSubmitRegister').click(function() {
				$('#modalSignup').modal('hide')
			})

			$('#btnSubmitTodo').click(function() {
				$('#modalAddTodo').modal('hide')
			})
		});
	</script>



	<script>

		var app = new Vue({
			el: '#main',
			data: {
				showModal: false,
				message: '',
				navbar: 'Todos Apps',
				username: '',
				password: '',
				nameR: '',
				emailR: '',
				task: '',
				is_completed: '',
				reminder: '',
				editDataTodo: {
					id:'',
					task: '',
					is_completed: '',
					reminder: ''
				},
				deleteDataTodo: {
					id: ''
				},
				login: true,
				listTodos: ''
			},
			methods: {
				onLogin: function() {
					let self = this
					axios.post('http://localhost:3000/auth/signin', {
							username: self.username,
							password: self.password
						})
						.then(response => {
							if (response.data.hasOwnProperty('error')) {
								self.message = response.data.error.errmsg
							} else {
								self.login = false;
								let token = localStorage.setItem('token', response.data);
								console.log('token ', token)
								self.getListTodos()
							}
						})
						.catch(error => {
							alert('error')
							console.log(error)
						})
				},
				onRegister: function() {
					let self = this
					axios.post('http://localhost:3000/auth/signup', {
							name: self.nameR,
							email: self.emailR,
							username: self.username,
							password: self.password,
							role: 'client'
						})
						.then(response => {
							if (response.data.hasOwnProperty('err')) {
								console.log(response.data);
								console.log(err);
							} else {
								self.onLogin()
								console.log(response);
							}
						})
						.catch(err => {
							alert('error')
						})
				},

				signOut: function() {
					localStorage.removeItem('token');
					let self = this
					self.login = true;
					FB.logout(function(response) {
						console.log('sudah logout');
					});
					window.location.href = 'index.html'
				},
				getListTodos: function() {
					let self = this
					axios.get('http://localhost:3000/todos/', {
							headers: {
								token: localStorage.getItem('token')
							}
						})
						.then(response => {
							if (response.config.headers.token == null) {
								alert('Please login!')
							} else {
								self.listTodos = '';
								self.listTodos = response.data
								console.log('todonya ', response.data)
							}
						})
						.catch(error => {
							alert('Please login!')
							console.log("Please login!")
						})
				},
				addTodo: function(){
					$('#modalAddTodo').modal('show')
				},
				insertTodo: function() {
					let self = this
		      axios.post('http://localhost:3000/todos/', {
						task: self.task,
						is_completed: self.is_completed,
						reminder: self.reminder
		        }, {
		          headers: {
		            token: localStorage.getItem('token')
		          }
		        })
		        .then(response => {
		          if (response.config.headers.token == null) {
		            alert('Please login!')
		          } else {
								$('#modalAddTodo').modal('hide')
		            self.getListTodos()

		          }
		        })
		        .catch(error => {
		          alert('Please login!')
		          console.log("Please login!")
		        })
				},
				deleteConfirm: function(id){
					this.deleteDataTodo.id = id
		      $('#deleteModalTodo').modal('show')
				},
				deleteTodo: function() {
					let self = this
					axios.delete(`http://localhost:3000/todos/${self.deleteDataTodo.id}`, {
							headers: {
								token: localStorage.getItem('token')
							}
						})
						.then(response => {
							 $('#deleteModalTodo').modal('hide')
							self.getListTodos()
						})
						.catch(error => {
							alert('error')
							console.log(error)
						})
				},
				editTodos: function(id){
					this.editDataTodo.id = id;
					let self = this
					axios.get(`http://localhost:3000/todos/${self.editDataTodo.id}`, {
							headers: {
								token: localStorage.getItem('token')
							}
						})
						.then(response => {
							self.editDataTodo.task = response.data.task
		          self.editDataTodo.is_completed = response.data.is_completed
							self.editDataTodo.reminder = response.data.reminder
							 $('#modalEditTodo').modal('show')
						})
						.catch(error => {
							alert('error')
							console.log(error)
						})

				},
				updateTodo: function() {
					let self = this
		      axios.put('http://localhost:3000/todos/'+self.editDataTodo.id, {
						task: self.editDataTodo.task,
						is_completed: self.editDataTodo.is_completed,
						reminder: self.editDataTodo.reminder
		        }, {
		          headers: {
		            token: localStorage.getItem('token')
		          }
		        })
		        .then(response => {
		          if (response.config.headers.token == null) {
		            alert('Please login!')
		          } else {
								$('#modalEditTodo').modal('hide')
		            self.getListTodos()

		          }
		        })
		        .catch(error => {
		          alert('Please login!')
		          console.log("Please login!")
		        })
				},
				loginFB: function() {
					let self = this
					FB.login(function(response) {
						if (response.status === 'connected') {
							FB.api('/me', 'GET', {
								fields: 'first_name,last_name,name,id'
							}, function(response) {
								if (response) {
									self.name = response.name
									self.username = response.first_name + "_" + response.last_name
									self.password = response.name
									self.email = `${response.name}@facebook.com`
									self.onRegister()
								} else {
									console.log('belum login')
								}
							});
						} else if (response.status === 'not_authorized') {
							console.log('We are not logged in.')
						} else {
							console.log('You are not logged into Facebook.');
						}
					}, {
						scope: 'email'
					});
				}
			},
			created: function() {}
		})
	</script>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId: '184769522044031',
				xfbml: true,
				version: 'v2.5'
			});
			FB.getLoginStatus(function(response) {
				if (response.status === 'connected') {
					alert('We are connected.');
				} else if (response.status === 'not_authorized') {
					console.log('We are not logged in.')
				} else {
					console.log('You are not logged into Facebook.');
				}
			});
		};
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</body>

</html>
